<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Queen attack result!</title>
</head>
<body>
    <div class="container">
        <h1>Your attack was a:</h1>
        <h4>{{ result }}</h4>
    </div>
</body>
</html>
